.idea/
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.patch
*.jar
*.log
*.env
go.work*
bin/
tmp/*
.vscode/*
!.vscode/settings.json.template
!.vscode/launch.json.template
