# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: '3'

vars:
  MOCKERY_VERSION: 'v3.5.0'
  MOCKERY_PATH: 'github.com/vektra/mockery/v3@{{.MOCKERY_VERSION}}'
  GOLANGCI_LINT_VERSION: 'v2.5.0'
  GOLANGCI_LINT_PATH: 'github.com/golangci/golangci-lint/v2/cmd/golangci-lint@{{.GOLANGCI_LINT_VERSION}}'

tasks:
  .check-version:
    cmds:
      - |
        mockery --version 2>/dev/null | grep {{.MOCKERY_VERSION}} 1>/dev/null 2>&1 || go install {{.MOCKERY_PATH}}
      - |
        golangci-lint --version 2>/dev/null | grep {{.GOLANGCI_LINT_VERSION}} 1>/dev/null 2>&1 || go install {{.GOLANGCI_LINT_PATH}}
    silent: true
